
    .hi1{
        padding-left: 150px;
        padding-top: 20px;
    }
    .hi2{
        font-size: 15px;
        margin-left: 10px;
    }
    .registerbtn{
        height: 40px;
        width: 375px;
        margin-left: 10px;
    }
    .box1{
        margin-left: 10px;
    }

